@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #2C8560;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #666666;
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}

.text-right {
  text-align: right;
}

.text-btn {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: 1rem;
  display: inline-block;
}

.logo-text {
  color: #000000;
  font-size: 23.5px;
  font-weight: 800;
  letter-spacing: 2px;
}
.logo-text.white {
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.heading {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.5rem;
  color: #000000;
  margin-bottom: 1rem;
}

.subheading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #666666;
}

.subheading-2 {
  font-weight: 400;
  font-size: 1.8rem;
  color: #18191F;
  line-height: 2.7rem;
}

ul li {
  font-size: 13px;
  line-height: 18px;
  color: #474747;
  margin-bottom: 2rem;
  font-weight: 400;
}

.list-item {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.list-item li {
  position: relative;
  padding-left: 3rem;
}
.list-item li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/check-yellow.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
}
.list-item.blue li::before {
  background-image: url(../images/check-blue.svg);
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(136, 136, 136, 0.5411764706);
  margin: 3rem 0;
}

section.s1, section.s2 {
  max-width: 1050px;
  margin: auto;
}
section.s1 .img-wrap, section.s2 .img-wrap {
  position: relative;
  text-align: center;
}
section.s1 .img-wrap img, section.s2 .img-wrap img {
  margin-top: -4rem;
}
section.s1 .img-wrap::after, section.s2 .img-wrap::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  height: 60%;
  background: #F3ECDA;
  border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  left: 50%;
  z-index: -1;
  max-width: 470px;
  transform: translateX(-50%);
}
section.s1 {
  padding-top: 12rem;
  padding-bottom: 8rem;
}
section.s1 .content-wrap {
  max-width: 425px;
  margin: auto;
}
section.s2 {
  padding-top: 12rem;
  padding-bottom: 8rem;
}
section.s2 .img-wrap::after {
  background-color: #83B1D6;
  opacity: 0.3;
}
section.s2 .content-wrap {
  max-width: 422px;
  margin-right: auto;
}

header {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #e5e9f2;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E9F2;
}
header .logo {
  max-width: 9.2rem;
}
header .nav-link {
  color: #18191F;
  font-size: 1.4rem;
}
header .btn {
  margin-left: 3rem;
}
header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  background-color: #f5fff7;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero h1 {
  font-size: 4.7rem;
  line-height: 6.3rem;
  font-weight: 600;
  letter-spacing: -0.2rem;
  color: #000000;
  max-width: 591px;
}
.hero h1 span {
  color: var(--primary-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.hero h1 span::before {
  content: "";
  position: absolute;
  background-image: url(../images/sketch.svg);
  background-size: contain;
  width: 100%;
  height: 22px;
  background-repeat: no-repeat;
  bottom: -20px;
  transition: width 4s ease-in-out;
}
.hero p {
  font-size: 1.8rem;
  line-height: 2.9rem;
  font-weight: 500;
  color: #4A4A4A;
  max-width: 556px;
}
.hero .tagline {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #534E4E;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.features {
  background-color: #f5fff7;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-top: 5rem;
}
.features .heading {
  font-weight: 800;
  line-height: 5.4rem;
  max-width: 53rem;
}
.features .box {
  max-width: 90%;
  position: relative;
  padding-left: 5rem;
  margin-bottom: 5rem;
}
.features .box .icon {
  position: absolute;
  left: 0;
}
.features .box h4 {
  font-weight: 800;
  color: #18191F;
  font-size: 2rem;
  line-height: 2.8rem;
}
.features .box p {
  font-size: 1.3rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #18191F;
}

.cta {
  color: #fff;
  margin-top: 18rem;
  margin-bottom: 20rem;
}
.cta .bg {
  background: #2C8560;
  border-radius: 1.6rem;
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  min-height: 424px;
}
.cta .heading {
  color: #fff;
  font-size: 4rem;
  line-height: 5.4rem;
  max-width: 40rem;
}
.cta .text-wrap {
  max-width: 85%;
  margin: auto;
}
.cta p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  max-width: 533px;
  color: #F1F2F6;
}
.cta .featured-img {
  position: absolute;
  top: -100px;
  right: 10%;
}

.pay-bills {
  background-color: #f5fff7;
  padding-top: 6rem;
  padding-bottom: 12rem;
}
.pay-bills .box {
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 570px;
  text-align: center;
  overflow: hidden;
}
.pay-bills .box .heading {
  max-width: 45.2rem;
  margin: auto;
  font-size: 4.8rem;
  line-height: 5.8rem;
  margin-bottom: 1rem;
}
.pay-bills .box .heading span {
  color: #2C8560;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.pay-bills .box p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #666666;
  max-width: 400px;
  margin: auto;
}
.pay-bills .box.second img {
  max-height: 450px;
  margin-bottom: -18px;
}

.review {
  background: #F1F1F1;
}
.review .left {
  background-color: var(--primary-color);
}
.review .left .wrap {
  min-height: 56rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 44.5rem;
  margin: auto;
}
.review .left .heading {
  font-size: 4.8rem;
  line-height: 6.4rem;
  max-width: 445px;
  color: #fff;
  margin: 1rem auto;
  font-family: "Poppins", sans-serif;
}
.review .left p {
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 400;
}
.review .right .wrap {
  position: relative;
  background-color: #fff;
  height: calc(100% - 6rem);
  margin: 3rem;
  overflow: hidden;
  margin-left: 0;
  padding: 3rem;
  max-width: 57rem;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
}
.review .right .item {
  position: relative;
  max-width: 490px;
}
.review .right .item .quote {
  opacity: 0.3;
}
.review .right .item .top {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.review .right .item .profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.review .right .item .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review .right .item .name {
  color: #18191F;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
}
.review .right .item .title {
  color: #474A57;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}
.review .right .item p {
  color: #18191F;
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 400;
  max-width: 48rem;
}
.review .swiper-button-next:after,
.review .swiper-button-prev:after {
  font-size: 1.6rem;
  color: #18191F;
  font-weight: 800;
}
.review .swiper-button-next,
.review .swiper-button-prev {
  position: absolute;
  bottom: 5rem;
  top: auto;
  right: 4rem;
}
.review .swiper-button-prev {
  right: 8rem;
  left: auto;
}

.download-app {
  background: #ADD3C1;
  margin-top: 9.5rem;
  position: relative;
}
.download-app .text-wrap {
  padding-top: 12rem;
  padding-bottom: 12rem;
  max-width: 528px;
}
.download-app .heading {
  color: #18191F;
  font-size: 4.6rem;
  line-height: 5.6rem;
}
.download-app p {
  font-size: 1.6rem;
  color: #18191F;
  line-height: 3.2rem;
  font-weight: 400;
}
.download-app .img-wrap {
  position: relative;
  height: 100%;
}
.download-app .img-wrap .first {
  position: absolute;
  top: 0;
  right: 263px;
}
.download-app .img-wrap .second {
  right: 0;
  position: absolute;
  bottom: 0;
}

footer {
  padding-top: 4rem;
  background: #000000;
  padding-bottom: 4rem;
}
footer .logo {
  max-width: 9.2rem;
  margin-bottom: 2.5rem;
}
footer .copyright {
  color: #D9DBE1;
  font-size: 1.4rem;
  font-weight: 400;
}
footer .nav-link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #D9DBE1;
  padding: 0;
  margin-bottom: 1rem;
}
footer .widget {
  margin-left: auto;
  max-width: 150px;
}
footer .social-links ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}
footer .social-links ul li {
  width: 25px;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 2px;
}
footer .social-links ul li a {
  color: #000;
}

@media (max-width: 991px) {
  .download-app .img-wrap img {
    height: 47%;
  }
  .download-app .img-wrap .first {
    right: 0;
  }
  .cta .featured-img {
    right: 5%;
  }
}
@media (max-width: 767px) {
  header .btn {
    margin-left: 1rem;
  }
  .hero img {
    margin-bottom: 4rem;
  }
  .hero h1 span::before {
    display: none;
  }
  .review .left .wrap {
    min-height: auto;
    padding: 3rem;
  }
  .cta .right-col {
    text-align: center;
  }
  .cta .right-col .featured-img {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 4rem;
  }
  section.s1 .img-wrap,
section.s2 .img-wrap {
    margin-bottom: 7rem;
  }
  .features .subheading-2 {
    margin-bottom: 3rem;
  }
  .review .swiper-button-next,
.review .swiper-button-prev {
    bottom: 0rem;
  }
  .download-app .img-wrap {
    display: none;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 57.5%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 53.5%;
  }
}/*# sourceMappingURL=style.css.map */